/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
}

/* END OF GLOBAL STYLES */
/* SASS STYLES */
/* END OF SASS STYLES */
/* GRID */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.offset-4 {
  margin-left: 33.33%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* END OF GRID */
/* CLEARFIX HAX */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* END OF CLEARFIX HAX */
/* SPECIAL FONTS */
@font-face {
  font-family: "Scriptin";
  src: url(../sass/fonts/SCRIPTIN.ttf) format("truetype");
}

/* END OF SPECIAL FONTS */
/* HERO */
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(https://public.adobecc.com/files/1ESOSAYQ2BYDULDCBFAGWCGYAA1EFF);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .hero__bg__smoke {
  height: inherit;
  background: radial-gradient(rgba(86, 83, 76, 0.7) 20%, transparent 70%);
  background-position: center;
  background-size: cover;
}

.hero .hero__header--bg {
  background-color: rgba(86, 83, 76, 0.6);
}

.hero .hero__bottom__img {
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
}

.hero__header {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  color: white;
}

.hero__header .hero__header__logo {
  font-size: 1.8em;
  font-family: 'Scriptin';
  letter-spacing: 1.3mm;
  text-align: center;
}

.hero__header .hero__header__navbar .navbar__list {
  padding: 33px 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.hero__header .hero__header__navbar .navbar__list .navbar__list__li {
  text-transform: uppercase;
  font-family: 'Alegreya', serif;
  font-size: 0.9em;
  position: relative;
  top: 5px;
  letter-spacing: 1.2mm;
}

.hero__header .hero__header__navbar .navbar__list .navbar__list__li .li__links {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.hero__header .hero__header__navbar .navbar__list .navbar__list__li .li__links:hover {
  color: #dfc691;
}

.hero__header .hero__header__social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.hero__header .hero__header__social .hero__header__social_button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1em;
  padding: 33px 0;
  position: relative;
  top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}

.hero__header .hero__header__social .hero__header__social_button .social__links {
  color: white;
  transition: 0.5s;
}

.hero__header .hero__header__social .hero__header__social_button .social__links--twitter:hover {
  color: #1da1f3;
}

.hero__header .hero__header__social .hero__header__social_button .social__links--facebook:hover {
  color: #4267b2;
}

.hero__header .hero__header__social .hero__header__social_button .social__links--instagram:hover {
  color: #f66e41;
}

.hero__greeting {
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  overflow: visible;
}

.hero__greeting .hero__greeting__title {
  font-family: 'Playfair Display', serif;
  font-size: 5.7em;
  margin: 0;
  margin-top: 1.5em;
}

.hero__greeting .hero__greeting__img {
  margin: 2em;
}

.hero__greeting .hero__greeting__text {
  font-family: 'Alegreya', serif;
  letter-spacing: 1.2mm;
  font-size: 1.5em;
  margin: 2em 0;
  text-align: center;
  padding: 0 10px;
}

.hero__greeting .hero__greeting__button {
  font-family: 'Alegreya', serif;
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 10px 40px;
  background-color: rgba(86, 83, 76, 0.7);
  border: none;
  color: white;
  letter-spacing: 1.3mm;
  transition: 0.5s;
  margin-bottom: 4em;
}

.hero__greeting .hero__greeting__button:hover {
  background-color: rgba(86, 83, 76, 0.9);
  cursor: pointer;
  color: #dfc691;
}

/* END OF HERO */
/* ABOUT US */
.aboutUs {
  padding: 2em;
  background-image: url(https://public.adobecc.com/files/1EBIQSEH0LLVAFVA5S3L3YXZ2HAFFF);
  background-size: cover;
  background-position: center;
}

.aboutUs__container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding-bottom: 4em;
}

.aboutUs__left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Alegreya', serif;
}

.aboutUs__left .aboutUs__left__title {
  font-size: 3em;
  text-align: center;
  color: #56534c;
  margin: 0;
  margin-top: 2em;
}

.aboutUs__left .aboutUs__left__subtitle {
  color: #a47d5e;
  font-size: 1em;
  margin: 0;
  margin-bottom: 2em;
}

.aboutUs__left .aboutUs__left__text {
  color: #56534c;
  padding: 0 35px;
  text-align: center;
}

.aboutUs__left .aboutUs__left__chef {
  color: #56534c;
}

.aboutUs__left .aboutUs__left__chef__desc {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.aboutUs__left .aboutUs__left__chef__desc .chef__desc__name {
  text-align: center;
  font-size: 1.5em;
  color: #56534c;
  border-bottom: 1px solid #56534c;
  border-top: 1px solid #56534c;
}

.aboutUs__left .aboutUs__left__chef__desc .chef__desc__img {
  text-align: center;
}

.aboutUs__left .aboutUs__left__quote {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
}

.aboutUs__left .aboutUs__left__quote .aboutUs__left__quote__quoted {
  font-family: 'Scriptin';
  color: #a47d5e;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

.aboutUs__left .aboutUs__left__quote .aboutUs__left__quote__sign {
  font-family: "Times New Roman", Times, serif;
  font-size: 3.7em;
  color: #56534c;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.aboutUs__left .aboutUs__left__quote .left-sign {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.aboutUs__right .aboutUs__right__gallery {
  margin-top: 7.5em;
  width: 100%;
  position: relative;
}

.aboutUs__right .aboutUs__right__gallery .aboutUs__right__img__container {
  padding: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.aboutUs__right .aboutUs__right__gallery .aboutUs__right__img__container .aboutUs__right__img__container__pic {
  max-width: 100%;
}

.aboutUs__right .aboutUs__right__gallery .aboutUs__right__gallery__stick {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
}

/* END OF ABOUT US */
/* MENU */
.menu {
  padding-bottom: 8em;
  background-image: url(https://public.adobecc.com/files/1EN0TWQHZIUL525YIRRI31U5Z3WEFF);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu__container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding-top: 8em;
  position: relative;
}

.menu__container .menu__container__time {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  padding: 14px 55.64px;
  z-index: 55;
  transform: translate(25%, 50%);
  background-image: url(https://public.adobecc.com/files/1EQMS0SMGYTFMQMYDP0QTTJTQW5EFF);
  background-position: center;
  box-shadow: -41px 51px 177px -38px #a47d5e;
  border: 0.5px solid #a47d5e;
}

.menu__container .menu__container__time .menu__container__time__text {
  color: #a47d5e;
  font-size: 1.1em;
  text-transform: uppercase;
  margin: 0;
}

.menu__container .menu__container__time .menu__container__time__number {
  font-size: 5.7em;
  color: #dfc691;
  margin: 0;
}

.menu__slider .menu__slider__cell {
  width: 100%;
}

.menu__slider .menu__slider__cell .row {
  display: -ms-flexbox;
  display: flex;
}

.menu__slider .menu__slider__cell .menu__slider__cell__left {
  height: inherit;
  height: 512px;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.menu__slider .menu__slider__cell .menu__slider__cell__left .cell__left__img {
  width: auto;
  height: 100%;
}

.menu__slider .menu__slider__cell .menu__slider__cell__right {
  background-color: white;
  background-image: url(https://public.adobecc.com/files/1EFRSYDQOFLRE4IQDK3MQYGNRZPEFF);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 0;
  padding-left: 3em;
  font-family: 'Alegreya', serif;
  position: relative;
}

.menu__slider .menu__slider__cell .menu__slider__cell__right .cell__right__title {
  font-size: 3em;
  padding-top: 1em;
  margin: 0;
  color: #56534c;
}

.menu__slider .menu__slider__cell .menu__slider__cell__right .cell__right__subtitle {
  color: #a47d5e;
  text-transform: uppercase;
  font-size: 0.9em;
}

.menu__slider .menu__slider__cell .menu__slider__cell__right .cell__right__text {
  color: #56534c;
  padding-right: 10vw;
  padding-top: 3em;
}

.menu__slider .menu__slider__cell .menu__slider__cell__right .cell__right__stars {
  color: #a47d5e;
}

/* FLICKITY SET UP */
.nav-carousel {
  width: 40%;
  position: absolute;
  z-index: 50;
  bottom: 50px;
  right: 9%;
}

.nav-carousel .carousel-cell {
  width: 33%;
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.flickity-prev-next-button.previous {
  left: -40px;
}

.flickity-prev-next-button.next {
  right: -40px;
}

/* BREAKFAST */
.breakfast {
  background-image: url(https://public.adobecc.com/files/1E2UQENOCQ02IIJPAHCHS0H5VGCFFF);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.breakfast__container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.breakfast__container .row {
  padding-top: 2.2em;
  padding-bottom: 2.2em;
  display: -ms-flexbox;
  display: flex;
}

.breakfast__menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Alegreya', serif;
}

.breakfast__menu .breakfast__menu__title {
  font-size: 3em;
  text-align: center;
  margin-bottom: 0;
  color: white;
}

.breakfast__menu .breakfast__menu__subtitle {
  color: #c8a593;
  margin-top: 0;
  text-transform: uppercase;
}

.breakfast__menu .breakfast__menu__position {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.breakfast__menu .breakfast__menu__position .breakfast__menu__position__title {
  margin-top: 2em;
  font-size: 1.5em;
  color: white;
}

.breakfast__menu .breakfast__menu__position .breakfast__menu__position__desc {
  margin: 0;
  color: #c2beba;
  font-weight: bold;
}

.breakfast__menu .breakfast__menu__position .breakfast__menu__position__price {
  font-size: 2.2em;
  color: #dfc691;
  margin: 0;
}

.breakfast__menu .breakfast__menu__position .breakfast__menu__position__price--last {
  margin-bottom: 1.5em;
}

.breakfast__leaflet {
  font-family: 'Alegreya', serif;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
}

.breakfast__leaflet .breakfast__leaflet__container {
  background-color: #f3f1e9;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: auto;
  position: relative;
}

.breakfast__leaflet .breakfast__leaflet__container .leaflet__button {
  font-family: 'Alegreya', serif;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #56534c;
  color: #a47d5e;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px 72px;
  transition: 1s;
  margin-top: 1.5em;
  margin-bottom: 1.6em;
}

.breakfast__leaflet .breakfast__leaflet__container .leaflet__button:hover {
  cursor: pointer;
  color: #dfc691;
  border: 1px solid #dfc691;
}

.breakfast__leaflet .breakfast__leaflet__container .breakfast__leaflet__corner {
  width: 35px;
  height: 35px;
  background-color: white;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  background: linear-gradient(45deg, transparent 50%, white 50%);
}

.breakfast__leaflet .breakfast__leaflet__container:before, .breakfast__leaflet .breakfast__leaflet__container:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  border-left: 35px solid transparent;
  box-sizing: border-box;
}

.breakfast__leaflet .breakfast__leaflet__container:after {
  bottom: auto;
  top: 100%;
  border-bottom: none;
  border-top: 35px solid #f3f1e9;
  box-sizing: border-box;
}

.breakfast__leaflet .breakfast__leaflet__container .row {
  width: 80%;
  padding-bottom: 0;
}

.breakfast__leaflet .breakfast__leaflet__container .leaflet__logo__left {
  text-align: center;
  margin-bottom: 0;
  color: #56534c;
  font-weight: bold;
}

.breakfast__leaflet .breakfast__leaflet__container .leaflet__logo__right {
  text-align: center;
  margin-bottom: 0;
  color: #56534c;
  font-weight: bold;
}

.breakfast__leaflet .breakfast__leaflet__container .leaflet__img {
  display: block;
  width: 70%;
  height: auto;
}

.breakfast__leaflet .breakfast__leaflet__container .leaflet__title {
  font-size: 3em;
  padding: 0 20%;
  text-align: center;
  color: #56534c;
  margin-top: 1.3em;
}

.breakfast__leaflet .breakfast__leaflet__container .leaflet__desc {
  padding: 0 20%;
  text-align: center;
  word-spacing: 3px;
  line-height: 2em;
  margin-top: 0;
}

/* END OF BREAKFAST */
/* RWD */
@media (max-width: 900px) {
  body {
    font-size: 13px;
  }
  /* HERO RWD */
  .hero__header .hero__header__logo {
    width: 100%;
    padding: 0;
  }
  .hero__header .hero__header__navbar {
    width: 100%;
    padding: 0 10px;
  }
  .hero__header .hero__header__social {
    position: fixed;
    right: 0;
    top: 25vh;
    background-color: rgba(86, 83, 76, 0.6);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 50px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 1000;
  }
  .hero__header .hero__header__social .hero__header__social_button {
    padding: 10px 10px;
  }
  /*  END OF HERO RWD */
  /* ABOUTUS RWD */
  .aboutUs__left {
    width: 100%;
    font-size: 1.2em;
  }
  .aboutUs__right {
    display: none;
  }
  /* END OF ABOUTUS RWD */
  /* MENU RWD */
  .menu__slider .menu__slider__cell {
    padding: 3%;
  }
  .menu__slider .menu__slider__cell .menu__slider__cell__right .cell__right__subtitle {
    font-size: 1.4em;
  }
  .menu__slider .menu__slider__cell .menu__slider__cell__right .cell__right__text {
    font-size: 1.2em;
  }
  .menu__container .menu__container__time {
    top: 0;
    right: 0;
    background-color: white;
    padding: 14px 55.64px;
    z-index: 55;
    transform: translate(0%, 50%);
  }
  /* END OF MENU RWD */
  /* BREAKFAST RWD */
  .breakfast__menu .breakfast__menu__position .breakfast__menu__position__title {
    font-size: 1.7em;
  }
  .breakfast__menu .breakfast__menu__position .breakfast__menu__position__desc {
    font-size: 1.2em;
  }
  .breakfast__leaflet .breakfast__leaflet__container .leaflet__logo__left, .breakfast__leaflet .breakfast__leaflet__container .leaflet__logo__right {
    font-size: 1.3em;
  }
  .breakfast__leaflet .breakfast__leaflet__container .leaflet__desc {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=style.css.map */